.body {
  margin: 0px;
  border: 0px;
  font-family: 'Poppins', sans-serif;
  background-color: #f8f4f4;
}

.modal-img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}
body.dark-mode .modal-content {
  background-color: #292929; /* Warna latar belakang hitam atau abu-abu gelap */
  color: #ffffff; /* Warna teks putih */
}

body.dark-mode .isi-modal {
  color: #ffffff; /* Warna teks putih */
}

@media only screen and (min-width: 992px) {
  .modal-img {
    width: 100%;
    height: 260px;
    object-fit: cover;
  }
}

/* Stil dasar untuk mode gelap */
body.dark-mode {
  background-color: #171616; /* Warna latar belakang hitam atau abu-abu gelap */
  color: #ffffff; /* Warna teks putih */
}
body.dark-mode .makanan .card {
  background-color: #2e2e2e; /* Warna latar belakang hitam atau abu-abu gelap */
  color: #ffffff; /* Warna teks putih */
}
.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bi-moon {
  color: #f1c40f;
}

.bi-sun {
  color: #f39c12;
}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

html {
  margin: 0;
  border: 0;
  font-family: 'Poppins', sans-serif;
}

/* Navbar */
.inner-navbar {
  max-width: 1440px;
  /* margin-top: 10px; */
  /* margin-bottom: 10px; */
}

.nav-item {
  margin: 0px 17px;
}

.navbar {
  transition-timing-function: ease-in-out;
  transition: 0.2s;
  backdrop-filter: blur(5px);
  padding: 0px;
  margin: 0px;
  background: rgba(245, 245, 245, 0.75);
  /* box-shadow: black ; */
  /* position: absolute */
}
.logo {
  font-family: 'Jua', sans-serif;
  color: white;
}

.logo span {
  color: #fdc55e;
}

.menu {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  background: rgba(245, 245, 245, 0.99);
  backdrop-filter: blur(5px);
}

@media only screen and (min-width: 992px) {
  .menu {
    background: none;

    backdrop-filter: none;
  }
}

.logo h2 {
  font-size: 23px;
}

@media only screen and (min-width: 768px) {
  .logo h2 {
    font-size: 35px;
  }
}

.navbar-toggler-icon {
  color: #fff;
}

/* Navbar end */

.landing {
  width: 100vw;
  height: 100vh;
  min-height: 750px;
  /* max-height: 800px; */
  background-image: url('images/dayak-landing-page-12.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -200px;
}
@media only screen and (min-width: 700px) {
  .landing {
    background-position: center;
    min-height: 750px;
    max-height: 900px;
  }
}

.nav-link {
  margin: 8px;
}

.nav-color-1 {
  color: #920d0d;
  border-bottom: rgba(245, 245, 245, 0.01);
  border-width: 0px 0px 2px 0px;
  border-style: solid;
  margin: 0px;
  font-weight: 600;
}
.nav-color-1:hover {
  color: #920d0d;
  border-bottom: #920d0d;
  border-width: 0px 0px 2px 0px;
  border-style: solid;
  transition: all 0.2s;
  transition-timing-function: ease-in-out;
}
.nav-color-2 {
  color: #1b1b1b;
  border-bottom: rgba(245, 245, 245, 0.01);
  border-width: 0px 0px 2px 0px;
  border-style: solid;
  margin: 0px;
  font-weight: 400;
}
.nav-color-2:hover {
  color: #920d0d;
  border-bottom: #920d0d;
  border-width: 0px 0px 2px 0px;
  border-style: solid;
  transition: all 0.2s;
  transition-timing-function: ease-in-out;
}
.nav-color-3 {
  color: #1b1b1b;
  border-bottom: rgba(245, 245, 245, 0.01);
  border-width: 0px 0px 2px 0px;
  border-style: solid;
  margin: 0px;
  font-weight: 400;
}
.nav-color-3:hover {
  color: #920d0d;
  border-bottom: #920d0d;
  border-width: 0px 0px 2px 0px;
  border-style: solid;
  transition: all 0.2s;
  transition-timing-function: ease-in-out;
}
.nav-color-4 {
  color: #1b1b1b;
  border-bottom: rgba(245, 245, 245, 0.01);
  border-width: 0px 0px 2px 0px;
  border-style: solid;
  margin: 0px;
  font-weight: 400;
}
.nav-color-4:hover {
  color: #920d0d;
  border-bottom: #920d0d;
  border-width: 0px 0px 2px 0px;
  border-style: solid;
  transition: all 0.2s;
  transition-timing-function: ease-in-out;
}
.nav-color-5 {
  color: #1b1b1b;
  border-bottom: rgba(245, 245, 245, 0.01);
  border-width: 0px 0px 2px 0px;
  border-style: solid;
  margin: 0px;
  font-weight: 400;
}
.nav-color-5:hover {
  color: #920d0d;
  border-bottom: #920d0d;
  border-width: 0px 0px 2px 0px;
  border-style: solid;
  transition: all 0.2s;
  transition-timing-function: ease-in-out;
}
.nav-color-6 {
  color: #1b1b1b;
  border-bottom: rgba(245, 245, 245, 0.01);
  border-width: 0px 0px 2px 0px;
  border-style: solid;
  margin: 0px;
  font-weight: 400;
}
.nav-color-6:hover {
  color: #920d0d;
  border-bottom: #920d0d;
  border-width: 0px 0px 2px 0px;
  border-style: solid;
  transition: all 0.2s;
  transition-timing-function: ease-in-out;
}
.nav-color-7 {
  color: #1b1b1b;
  border-bottom: rgba(245, 245, 245, 0.01);
  border-width: 0px 0px 2px 0px;
  border-style: solid;
  margin: 0px;
  font-weight: 400;
}
.nav-color-7:hover {
  color: #920d0d;
  border-bottom: #920d0d;
  border-width: 0px 0px 2px 0px;
  border-style: solid;
  transition: all 0.2s;
  transition-timing-function: ease-in-out;
}

/* _____________________________________________Landing Page_________________________________________________________ */

.rectangle2 {
  width: 100px;
  height: 43px;
  background: rgba(230.56, 206.55, 206.55, 0);
  border-radius: 34px;
  border: 2px white solid;
  backdrop-filter: blur(2px);
  margin-top: 60vh;
}

.Welcome {
  color: white;
  font-size: 13px;
  font-weight: 500;
  margin-top: 10px;
  display: block;
  text-align: center;
}

.SukuDayak {
  font-weight: 500;
  line-height: 80%;
  margin-top: 20px;

  color: #fff;
  font-size: 36px;

  font-weight: 500;
}

.Warisan {
  color: white;
  font-size: 15px;
  font-weight: 400;
  margin-top: 30px;
}

.line-bottom {
  margin: auto 20px;
  width: 40vw;
  height: 0.1px;
  border: #fff;
  border-radius: 7px;
  border-style: solid;
}

.lingkaran1 {
  width: 60px;
  height: 60px;
}

@media only screen and (min-width: 900px) {
  .rectangle2 {
    width: 150px;
    height: 44px;
    background: rgba(230.56, 206.55, 206.55, 0);
    border-radius: 34px;
    border: 2px white solid;
    backdrop-filter: blur(2px);
    margin-top: 37vh;
  }
  .Welcome {
    color: white;
    font-size: 16px;
    font-weight: 500;
    margin-top: 9px;
    display: block;
    text-align: center;
  }

  .SukuDayak {
    color: white;
    font-size: 128px;
    font-weight: 500;
    line-height: 80%;
    margin-top: 20px;
  }

  .Warisan {
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin-top: 50px;
  }

  .line-bottom {
    margin: auto 20px;
    width: 40vw;
    height: 1px;
    border: #fff;
    border-radius: 7px;
    border-style: solid;
  }
  .lingkaran1 {
    height: 100px;
    width: 100px;
  }
}

@-webkit-keyframes bounce {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-5px);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-5px);
  }
}
.circle1 {
  -webkit-animation: bounce 1s infinite ease-in-out;
  -o-animation: bounce 1s infinite ease-in-out;
  -ms-animation: bounce 1s infinite ease-in-out;
  -moz-animation: bounce 1s infinite ease-in-out;
  animation: bounce 1s infinite ease-in-out;
}

/* _____________________________________________Landing Page End_________________________________________________________ */

/*______________________________________________ Profil__________________________________________________________________ */

.profil-img {
  width: 400px;
  z-index: -1;
  position: static;
}

.rectangle3 {
  margin: 10px 0px;
  width: 77px;
  height: 30px;

  background: #920d0d;
  border-radius: 34px;

  backdrop-filter: blur(2px);
}
.profil-judul {
  font-size: 14px;
  font-weight: 400;

  color: white;
  margin-top: 4px;
  display: block;
  text-align: center;

  margin-bottom: 10px;
}

.profil-subjudul {
  font-size: 20px;
  font-weight: 600;
}

body.dark-mode .profil-subjudul {
  color: #fff; /* Warna teks putih */
}
.profil-isi {
  color: #000;
  font-size: 12px;
  font-weight: 500;
  line-height: 13px; /* 150% */
  margin-bottom: 30px;
}
body.dark-mode .profil-isi {
  color: #fff; /* Warna teks putih */
}

.profil-tulisan {
  margin: 0px 0px;
}

@media only screen and (min-width: 900px) {
  .profil-img {
    width: 500px;
  }

  .rectangle3 {
    width: 150px;
    height: 44px;
    background: #920d0d;
    border-radius: 34px;

    backdrop-filter: blur(2px);
  }
  .profil-judul {
    color: white;
    font-size: 16px;
    font-weight: 500;
    margin-top: 9px;
    display: block;
    text-align: center;
  }

  .profil-subjudul {
    color: #000;
    font-size: 70px;
    font-weight: 500;
    line-height: 80px; /* 114.286% */
  }
  .profil-isi {
    color: #000;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px; /* 150% */
  }
}

@media only screen and (min-width: 992px) {
  .profil-img {
    position: absolute;
    top: -30px;
    left: -14vw;
    width: 900px;
  }

  .profil-tulisan {
    margin: 110px 0px;
  }
}
/*______________________________________________ Profil end__________________________________________________________________ */
/*______________________________________________ Adat__________________________________________________________________ */
.adat {
  height: 500px;
  background-image: url('images/adat.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  width: 100%;
  position: relative;
}

.rectangle4 {
  width: 97px;
  height: 28px;
  background: whitesmoke;
  border-radius: 34px;
  margin-top: 100px;
}
.adat-judul {
  color: #920d0d;
  font-size: 11px;
  font-weight: 400;
  text-align: center;
  margin: 8px 0px;
}
.adat-subjudul {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}

.adat-isi {
  color: #fff;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
}

.adat-isi span {
  color: #920d0d;
  font-weight: 700;
}

.isi-adat {
  max-width: 700px;
}

@media only screen and (min-width: 900px) {
  .adat {
    height: 500px;
    background-image: url('images/adat.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    width: 100%;
    position: relative;
  }

  .rectangle4 {
    width: 150px;
    height: 44px;
    background: whitesmoke;
    border-radius: 34px;
    margin-top: 30px;
  }
  .adat-judul {
    color: #920d0d;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin: 10px 0px;
  }
  .adat-subjudul {
    color: #fff;
    text-align: center;

    font-size: 70px;
    font-style: normal;
    font-weight: 500;
    line-height: 80px; /* 114.286% */
  }

  .adat-isi {
    color: #fff;
    text-align: center;

    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 150% */
  }

  .adat-isi span {
    color: #920d0d;
    font-weight: 700;
  }
}

/*______________________________________________ Adat end__________________________________________________________________ */

.upacara {
  /* height: 10000px; */
  margin: 50px;
}

#upacara {
  margin-top: 100px;
}

.upacara1-img {
  width: 250px;
  height: 200px;
  object-fit: contain;
  object-position: center;
}

.rectangle5 {
  width: 150px;
  height: 44px;
  background: #920d0d;
  border-radius: 34px;

  backdrop-filter: blur(2px);
}
.rectangle5-manajah {
  width: 250px;
  height: 44px;
  background: #920d0d;
  border-radius: 34px;
  margin-top: 10px;
  backdrop-filter: blur(2px);
}

.upacara-judul {
  color: white;
  font-size: 16px;
  font-weight: 500;
  margin-top: 9px;
  display: block;
  text-align: center;
}

.upacara-subjudul {
  color: #000;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
}

body.dark-mode .upacara-subjudul {
  color: #fff; /* Warna teks putih */
}

.upacara-isi {
  color: #000;

  font-size: 12px;
  font-style: normal;
  font-weight: 500;
}

body.dark-mode .upacara-isi {
  color: #fff; /* Warna teks putih */
}

.upacara-isi span {
  color: #920d0d;
  font-weight: 700;
}

#parent {
  display: flex;
}
#a {
  order: 2;
}
#b {
  order: 1;
}

@media only screen and (min-width: 992px) {
  #parent {
    display: flex;
  }
  #a {
    order: 1;
  }
  #b {
    order: 2;
  }
}
@media only screen and (min-width: 900px) {
  .upacara1-img {
    width: 445px;
    height: 462px;
    object-fit: contain;
    object-position: center;
  }
  .upacara-subjudul {
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
  }

  .upacara-isi {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
  }
  .upacara-isi span {
    color: #920d0d;
    font-weight: 700;
  }
}

/* __________________________________________________Rumah__________________________________________________________________ */
.rectangle7 {
  width: 100px;
  height: 38px;
  background-color: whitesmoke;
  border-radius: 34px;
  /* margin-top: 100px; */
}

.rumah-judul {
  color: #920d0d;
  font-size: 13px;
  font-weight: 6 00;
  text-align: center;
  margin: 8px 0px;
}
.rumah-1:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.rumah-2:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.rumah-3:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.rumah-1 {
  width: 110px;
  height: 110px;
  object-fit: cover;
  transition: transform 0.2s;
  z-index: 10;
}
.rumah-2 {
  width: 110px;
  height: 110px;
  object-fit: cover;
  transition: transform 0.2s;
  z-index: 10;
}
.rumah-3 {
  width: 110px;
  height: 110px;
  object-fit: cover;
  transition: transform 0.2s;
  z-index: 10;
}

.bg-rumah {
  height: 95vh;
  min-height: 800px;
  max-height: 1500px;
  background-image: url('images/rumah-adat1.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
  position: relative;
  transition: background-image 0.5s ease-in-out;
}

.konten-rumah {
  width: 60vw;
  max-width: 1020px;
}

.judul-rumah {
  color: #fff;
  text-align: center;

  font-size: 24px;

  font-weight: 500;
}

.isi-rumah {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 9px;
  font-style: normal;
  font-weight: 500;
}

@media only screen and (min-width: 768px) {
  .rumah-1 {
    width: 160px;
    height: 160px;
    object-fit: cover;
  }
  .rumah-2 {
    width: 160px;
    height: 160px;
    object-fit: cover;
  }
  .rumah-3 {
    width: 160px;
    height: 160px;
    object-fit: cover;
  }
}

@media only screen and (min-width: 993px) {
  .rectangle7 {
    width: 150px;
    height: 38px;
    background-color: whitesmoke;
    border-radius: 34px;
    /* margin-top: 100px; */
  }

  .rumah-judul {
    color: #920d0d;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin: 8px 0px;
  }
  .rumah-1 {
    width: 240px;
    height: 240px;
    object-fit: cover;
  }
  .rumah-2 {
    width: 240px;
    height: 240px;
    object-fit: cover;
  }
  .rumah-3 {
    width: 240px;
    height: 240px;
    object-fit: cover;
  }
  .konten-rumah {
    width: 60vw;
    max-width: 1020px;
  }

  .judul-rumah {
    color: #fff;
    text-align: center;

    font-size: 70px;

    font-weight: 500;
  }

  .isi-rumah {
    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
  }
}

/* __________________________________________________Rumah End__________________________________________________________________ */

.judul-modal {
  color: #920d0d;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}

.isi-modal {
  color: #000;
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.tombol-modal {
  position: fixed;
}
.tombol-modal svg {
  width: 12px;
  height: 12px;
}

@media only screen and (min-width: 993px) {
  .judul-modal {
    color: #920d0d;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px; /* 112.5% */
  }

  .isi-modal {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .tombol-modal svg {
    width: 40px;
    height: 40px;
  }
}

button,
input[type='submit'],
input[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
button {
  border: none;
}

button:focus {
  border: none;
  outline: none;
}

button:focus {
  outline: none !important;
}

/* _________________________________________Legenda____________________________________________________________ */
#legenda {
  width: 100%;
  height: 600px;
}

.legenda-bg {
  height: 500px;
  background-image: url('images/legenda.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
  position: relative;
}
.owl-theme {
  margin-top: 10vh;
}
.pembuka-legenda {
  width: 50vw;
  height: 600px;
  margin-left: 10vw;
}

.pembuka-legenda > h1 {
  margin: 30px 0px;
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}

.pembuka-legenda > p {
  color: #fff;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
}
.item {
  width: 180px;
  height: 320px;
  background-color: rgba(121, 119.24, 119.24, 0.12);
  border-radius: 20px;
  backdrop-filter: blur(17px);
}

.merahmerah {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #920d0d;
  width: 100%;
  height: 19vh;
}

.judul-legenda {
  color: #fff;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
}

.gambar-legenda {
  margin-top: 8px;
}

.isi-legenda {
  color: #fff;
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
}

@media only screen and (min-width: 900px) {
  #legenda {
    width: 100%;
    height: 779px;
  }

  .legenda-bg {
    height: 780px;
    background-image: url('images/legenda.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  .pembuka-legenda {
    width: 40vw;
    height: 600px;
    margin-left: 10vw;
  }

  .pembuka-legenda > h1 {
    margin: 30px 0px;
    color: #fff;
    font-size: 70px;
    font-style: normal;
    font-weight: 500;
  }

  .pembuka-legenda > p {
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
  }
  .item {
    width: 350px;
    height: 600px;
    background-color: rgba(121, 119.24, 119.24, 0.12);
    border-radius: 20px;
    backdrop-filter: blur(17px);
  }

  .merahmerah {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #920d0d;
    width: 100%;
    height: 20vh;
  }

  .judul-legenda {
    color: #fff;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
  }

  .gambar-legenda {
    margin-top: 10px;
  }

  .isi-legenda {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
  }
}

/* _________________________________________Legenda end____________________________________________________________ */

footer {
  background-color: #920d0d;
}
