.body {
  margin: 0px;
  border: 0px;
  font-family: 'Poppins', sans-serif;
  background: #fbfbfb;
}

.modal-img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}
body.dark-mode .modal-content {
  background-color: #292929; /* Warna latar belakang hitam atau abu-abu gelap */
  color: #ffffff; /* Warna teks putih */
}

body.dark-mode .isi-modal {
  color: #ffffff; /* Warna teks putih */
}

@media only screen and (min-width: 992px) {
  .modal-img {
    width: 100%;
    height: 260px;
    object-fit: cover;
  }
}

/* Stil dasar untuk mode gelap */
body.dark-mode {
  background-color: #171616; /* Warna latar belakang hitam atau abu-abu gelap */
  color: #ffffff; /* Warna teks putih */
}
body.dark-mode .makanan .card {
  background-color: #2e2e2e; /* Warna latar belakang hitam atau abu-abu gelap */
  color: #ffffff; /* Warna teks putih */
}
.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bi-moon {
  color: #ffffff;
}

.bi-sun {
  margin-top: 2px;
  color: #ffffff;
}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

html {
  margin: 0;
  border: 0;
  font-family: 'Poppins', sans-serif;
}

/* Navbar */
.inner-navbar {
  max-width: 1440px;
  /* margin-top: 10px; */
  /* margin-bottom: 10px; */
}

.nav-item {
  margin: 0px 17px;
}

.navbar-nav {
  background: rgba(0, 0, 0, 0.842);
}

.navbar {
  transition: all 0.2s linear;
  /* backdrop-filter: blur(5px); */
  padding: 0px;
  margin: 0px;
  background: rgba(245, 245, 245, 0);
  /* box-shadow: black ; */
  /* position: absolute */
}

.navbar.scrolled {
  background: rgba(0, 0, 0, 0.842);
  backdrop-filter: blur(5px);
}

.logo {
  font-family: 'Jua', sans-serif;
  color: white;
}

.logo span {
  color: #fdc55e;
}

.menu {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  background: rgba(245, 245, 245, 0.99);
  backdrop-filter: blur(5px);
}

@media only screen and (min-width: 992px) {
  .navbar-nav {
    background: rgba(0, 0, 0, 0);
  }
  .menu {
    background: none;

    backdrop-filter: none;
  }
}

.logo h2 {
  font-size: 23px;
}

@media only screen and (min-width: 768px) {
  .logo h2 {
    font-size: 35px;
  }
}

.navbar-toggler-icon {
  color: #fff;
}

/* Navbar end */

.landing {
  width: 100vw;
  height: 100vh;
  min-height: 750px;
  /* max-height: 800px; */
  background-image: url('images/dayak-landing-page-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -200px;
}
@media only screen and (min-width: 700px) {
  .landing {
    background-position: center;
    min-height: 750px;
    max-height: 900px;
  }
}

.nav-link {
  margin: 8px;
}

.nav-color-1 {
  color: #fff;
  font-size: 16px;
  border-bottom: rgba(245, 245, 245, 0.01);
  border-width: 0px 0px 2px 0px;
  border-style: solid;
  margin: 0px;
  font-weight: 400;
}
.nav-color-1:hover {
  color: #920d0d;
  border-bottom: #920d0d;
  border-width: 0px 0px 2px 0px;
  border-style: solid;
  transition: all 0.2s;
  transition-timing-function: ease-in-out;
}
.nav-color-2 {
  color: #fff;
  font-size: 16px;
  border-bottom: rgba(245, 245, 245, 0.01);
  border-width: 0px 0px 2px 0px;
  border-style: solid;
  margin: 0px;
  font-weight: 400;
}
.nav-color-2:hover {
  color: #920d0d;
  border-bottom: #920d0d;
  border-width: 0px 0px 2px 0px;
  border-style: solid;
  transition: all 0.2s;
  transition-timing-function: ease-in-out;
}
.nav-color-3 {
  color: #fff;
  font-size: 16px;
  border-bottom: rgba(245, 245, 245, 0.01);
  border-width: 0px 0px 2px 0px;
  border-style: solid;
  /* margin: 0px; */
  font-weight: 400;
}
.nav-color-3:hover {
  color: #920d0d;
  border-bottom: #920d0d;
  border-width: 0px 0px 2px 0px;
  border-style: solid;
  transition: all 0.2s;
  transition-timing-function: ease-in-out;
}
.nav-color-4 {
  color: #fff;
  font-size: 16px;
  border-bottom: rgba(245, 245, 245, 0.01);
  border-width: 0px 0px 2px 0px;
  border-style: solid;
  /* margin: 0px; */
  font-weight: 400;
}
.nav-color-4:hover {
  color: #920d0d;
  border-bottom: #920d0d;
  border-width: 0px 0px 2px 0px;
  border-style: solid;
  transition: all 0.2s;
  transition-timing-function: ease-in-out;
}

/* _____________________________________________Landing Page_________________________________________________________ */
.rectangle2 {
  width: 83px;
  height: 12px;
  background: rgba(230.56, 206.55, 206.55, 0);
  border-radius: 34px;
  /* border: 2px white solid; */
  backdrop-filter: blur(2px);
  margin-top: 37vh;
}
.rectangle3 {
  width: 150px;
  height: 44px;
  border-radius: 40px;
  background: #870000;
  border: 3px solid #870000;
  backdrop-filter: blur(2px);
  font-weight: 700;
  font-size: 10px;

  /* margin-top: 37vh; */
}
.Welcome {
  color: white;
  font-size: 10px;
  font-weight: 500;
  margin-top: 9px;
  margin-bottom: 0;
  display: block;
  text-align: center;
}
.Welcome1 {
  color: white;
  font-size: 10px;
  font-weight: 700;
  margin-top: 8px;
  margin-bottom: 0;
  display: block;
  text-align: center;
}

.SukuDayak {
  color: white;
  font-size: 24px;

  font-style: normal;
  font-weight: 600;
  line-height: 34px;
}
.SukuDayak span {
  color: white;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
}

.Warisan {
  color: white;
  font-size: 15px;
  font-weight: 400;
  margin-top: 30px;
}

.line-bottom {
  margin: auto 20px;
  width: 40vw;
  height: 0.1px;
  border: #fff;
  border-radius: 7px;
  border-style: solid;
}

.lingkaran1 {
  width: 60px;
  height: 60px;
}

.icon-ig {
  margin-top: 25vh;
}

.arrow div {
  color: #fff;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  height: 0;
  width: auto;
  /* margin: 0; */
  /* line-height: 105.75%;  */
  letter-spacing: 1.4px;
  transform: rotate(-90deg);
}

.ket-landing {
  color: #fff;
  font-size: 8px;
  font-weight: 300;
}

@media only screen and (min-width: 900px) {
  .ket-landing {
    color: #fff;
    font-size: 12px;
    font-weight: 300;
  }
  .rectangle2 {
    width: 83px;
    height: 12px;
    background: rgba(230.56, 206.55, 206.55, 0);
    border-radius: 34px;
    /* border: 2px white solid; */
    backdrop-filter: blur(2px);
    margin-top: 37vh;
  }
  .rectangle3 {
    width: 150px;
    height: 44px;
    border-radius: 40px;
    background: #870000;
    border: 3px solid #870000;
    backdrop-filter: blur(2px);
    font-weight: 700;
    font-size: 15px;

    /* margin-top: 37vh; */
  }
  .Welcome {
    color: white;
    font-size: 10px;
    font-weight: 500;
    margin-top: 9px;
    margin-bottom: 0;
    display: block;
    text-align: center;
  }
  .Welcome1 {
    color: white;
    font-size: 15px;
    font-weight: 700;
    margin-top: 9px;
    margin-bottom: 0;
    display: block;
    text-align: center;
  }

  .SukuDayak {
    color: white;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 65px;
  }
  .SukuDayak span {
    color: white;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
  }

  .Warisan {
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin-top: 50px;
  }

  .line-bottom {
    margin: auto 20px;
    width: 40vw;
    height: 1px;
    border: #fff;
    border-radius: 7px;
    border-style: solid;
  }
  .lingkaran1 {
    height: 100px;
    width: 100px;
  }
}

@-webkit-keyframes bounce {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-5px);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-5px);
  }
}
.circle1 {
  -webkit-animation: bounce 1s infinite ease-in-out;
  -o-animation: bounce 1s infinite ease-in-out;
  -ms-animation: bounce 1s infinite ease-in-out;
  -moz-animation: bounce 1s infinite ease-in-out;
  animation: bounce 1s infinite ease-in-out;
}

/* _____________________________________________Landing Page End_________________________________________________________ */

/*______________________________________________ Profil__________________________________________________________________ */

.profil-img {
  width: 400px;
  z-index: -1;
  position: static;
}

.rectangle3 {
  margin: 10px 0px;
  width: 77px;
  height: 30px;

  background: #920d0d;
  border-radius: 34px;

  backdrop-filter: blur(2px);
}
.profil-judul {
  font-size: 14px;
  color: #2e2d2d;
  font-weight: 500;
  margin-top: 9px;
  display: block;
  text-align: center;
  letter-spacing: 2.24px;
}

.profil-subjudul {
  font-size: 20px;
  color: #000;
  font-weight: 500;
  line-height: 20px; /* 114.286% */
}

body.dark-mode .profil-subjudul {
  color: #fff; /* Warna teks putih */
}
.profil-isi {
  color: #000;
  font-size: 12px;
  font-weight: 500;
  line-height: 13px; /* 150% */
  margin-bottom: 30px;
}
body.dark-mode .profil-isi {
  color: #fff; /* Warna teks putih */
}

.profil-tulisan {
  margin: 0px 0px;
}

@media only screen and (min-width: 900px) {
  .profil-img {
    width: 500px;
  }

  .rectangle3 {
    width: 150px;
    height: 44px;
    background: #920d0d;
    border-radius: 34px;

    backdrop-filter: blur(2px);
  }
  .profil-judul {
    color: #2e2d2d;
    font-size: 16px;
    font-weight: 500;
    margin-top: 9px;
    display: block;
    text-align: center;
    letter-spacing: 2.24px;
  }

  .profil-subjudul {
    color: #000;
    font-size: 36px;
    font-weight: 500;
    line-height: 35px; /* 114.286% */
  }
  .profil-isi {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px; /* 150% */
  }
}

@media only screen and (min-width: 992px) {
  .profil-img {
    position: absolute;
    top: -30px;
    left: -14vw;
    width: 900px;
  }

  .profil-tulisan {
    margin: 110px 0px;
  }
}
/*______________________________________________ Profil end__________________________________________________________________ */
/*______________________________________________ Adat__________________________________________________________________ */
.adat-text {
  color: #000;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
}
.adat {
  background: #f5f5f5;
  width: 100%;
  position: relative;
}

.rectangle4 {
  /* width: 150px; */
  height: 44px;
  /* background: whitesmoke; */
  border-radius: 34px;
  /* margin-top: 30px; */
}
.adat-judul {
  color: #2e2d2d;
  font-size: 12 px;
  font-weight: 500;
  text-align: start;
  margin: 10px 0px;
  letter-spacing: 2.24px;
}
.adat-subjudul {
  color: #000;
  text-align: start;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 114.286% */
}

.adat-subjudul span {
  color: #920d0d;
}

.adat-isi {
  color: #fff;
  text-align: center;

  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 150% */
}

.adat-isi span {
  color: #920d0d;
  font-weight: 700;
}

.isi-adat {
  max-width: 700px;
}

@media only screen and (min-width: 900px) {
  .adat-text {
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
  }
  .adat {
    /* height: 500px; */
    background: #f5f5f5;
    width: 100%;
    position: relative;
  }

  .rectangle4 {
    /* width: 150px; */
    height: 44px;
    /* background: whitesmoke; */
    border-radius: 34px;
    /* margin-top: 30px; */
  }
  .adat-judul {
    color: #2e2d2d;
    font-size: 16px;
    font-weight: 500;
    text-align: start;
    margin: 10px 0px;
    letter-spacing: 2.24px;
  }
  .adat-subjudul {
    color: #000;
    text-align: start;

    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 45px; /* 114.286% */
  }

  .adat-subjudul span {
    color: #920d0d;
  }

  .adat-isi {
    color: #fff;
    text-align: center;

    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 150% */
  }

  .adat-isi span {
    color: #920d0d;
    font-weight: 700;
  }
}

.card-upacara {
  /* height: 100%; */
  border-radius: 10px;
  border: 3px solid #e3e3e3;
  background: #fff;
}

.card-upacara img {
  overflow: hidden;
  object-fit: cover;
  width: 100%;
  height: 138px;
  border-top: 10px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

.card-upacara h1 {
  font-size: 24px;
  font-weight: 400;
  color: #000;
}

.card-upacara p {
  color: #000;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}

.card-upacara .text {
  padding: 20px;
}

.card-upacara .tombolbawah {
  text-decoration: none;
  color: #fff;
  border-radius: 40px;
  background: #870000;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
}
.card-upacara:hover .tombolbawah {
  background: white;
  color: #870000;
}

.card-upacara:hover {
  background: #920d0d;
}
.card-upacara:hover h1 {
  color: white;
}
.card-upacara:hover p {
  color: white;
}

@media only screen and (min-width: 900px) {
  .card-upacara {
    height: 100%;
    border-radius: 10px;
    border: 3px solid #e3e3e3;
    background: #fff;
    /* width: 360px; */
    /* height: 138px; */
  }

  .card-upacara img {
    overflow: hidden;
    object-fit: cover;
    width: 100%;
    height: 138px;
    border-top: 10px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
  }

  .card-upacara h1 {
    font-size: 24px;
    font-weight: 400;
    color: #000;
  }

  .card-upacara p {
    color: #000;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
  }
}

/*______________________________________________ Adat end__________________________________________________________________ */

.upacara {
  /* height: 10000px; */
  margin: 50px;
}

#upacara {
  margin-top: 100px;
}

.upacara1-img {
  width: 250px;
  height: 200px;
  object-fit: contain;
  object-position: center;
}

.rectangle5 {
  width: 150px;
  height: 44px;
  background: #920d0d;
  border-radius: 34px;
  backdrop-filter: blur(2px);
}

.rectangle5-manajah {
  width: 250px;
  height: 44px;
  background: #920d0d;
  border-radius: 34px;
  margin-top: 10px;
  backdrop-filter: blur(2px);
}

.upacara-judul {
  color: white;
  font-size: 16px;
  font-weight: 500;
  margin-top: 9px;
  display: block;
  text-align: center;
}

.upacara-subjudul {
  color: #000;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
}

body.dark-mode .upacara-subjudul {
  color: #fff; /* Warna teks putih */
}

.upacara-isi {
  color: #000;

  font-size: 12px;
  font-style: normal;
  font-weight: 500;
}

body.dark-mode .upacara-isi {
  color: #fff; /* Warna teks putih */
}

.upacara-isi span {
  color: #920d0d;
  font-weight: 700;
}

#parent {
  display: flex;
}
#a {
  order: 2;
}
#b {
  order: 1;
}

@media only screen and (min-width: 992px) {
  #parent {
    display: flex;
  }
  #a {
    order: 1;
  }
  #b {
    order: 2;
  }
}
@media only screen and (min-width: 900px) {
  .upacara1-img {
    width: 445px;
    height: 462px;
    object-fit: contain;
    object-position: center;
  }
  .upacara-subjudul {
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
  }

  .upacara-isi {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
  }
  .upacara-isi span {
    color: #920d0d;
    font-weight: 700;
  }
}

/* ________ Makanan ____________________ */

.makanan-img {
  width: 80%;
}

.rectangle3 {
  margin: 10px 0px;
  width: 77px;
  height: 30px;

  background: #920d0d;
  border-radius: 34px;

  backdrop-filter: blur(2px);
}
.makanan-judul {
  font-size: 14px;
  color: #2e2d2d;
  font-weight: 500;
  margin-top: 9px;
  display: block;
  text-align: center;
  letter-spacing: 2.24px;
}

.makanan-subjudul {
  font-size: 20px;
  color: #000;
  font-weight: 500;
  line-height: 20px; /* 114.286% */
}

body.dark-mode .makanan-subjudul {
  color: #fff; /* Warna teks putih */
}
.makanan-isi {
  color: #000;
  font-size: 12px;
  font-weight: 500;
  line-height: 13px; /* 150% */
  margin-bottom: 30px;
}
body.dark-mode .makanan-isi {
  color: #fff; /* Warna teks putih */
}

.makanan-tulisan {
  margin: 0px 0px;
}

.makanan .tombolbawah2 {
  text-decoration: none;
  color: #fff;
  border-radius: 40px;
  background: #870000;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
}

@media only screen and (min-width: 900px) {
  .makanan-img {
    width: 80%;
  }

  .rectangle3 {
    width: 150px;
    height: 44px;
    background: #920d0d;
    border-radius: 34px;

    backdrop-filter: blur(2px);
  }
  .makanan-judul {
    color: #2e2d2d;
    font-size: 16px;
    font-weight: 500;
    margin-top: 9px;
    display: block;
    text-align: center;
    letter-spacing: 2.24px;
  }

  .makanan-subjudul {
    color: #000;
    font-size: 36px;
    font-weight: 500;
    line-height: 45px; /* 114.286% */
  }

  .makanan-subjudul span {
    color: #920d0d;
  }
  .makanan-isi {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px; /* 150% */
  }
}

@media only screen and (min-width: 992px) {
  .makanan-tulisan {
    margin: 110px 0px;
  }
}
/* ________Makanan End___________________ */

/* __________________________________________________Rumah__________________________________________________________________ */
.rectangle7 {
  width: 100px;
  height: 38px;
  background-color: whitesmoke;
  border-radius: 34px;
  /* margin-top: 100px; */
}

.rumah-judul {
  color: #920d0d;
  font-size: 13px;
  font-weight: 6 00;
  text-align: center;
  margin: 8px 0px;
}
.rumah-1:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.rumah-2:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.rumah-3:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.rumah-1 {
  width: 110px;
  height: 110px;
  object-fit: cover;
  transition: transform 0.2s;
  z-index: 10;
}
.rumah-2 {
  width: 110px;
  height: 110px;
  object-fit: cover;
  transition: transform 0.2s;
  z-index: 10;
}
.rumah-3 {
  width: 110px;
  height: 110px;
  object-fit: cover;
  transition: transform 0.2s;
  z-index: 10;
}

.bg-rumah {
  height: 95vh;
  min-height: 800px;
  max-height: 1500px;
  background-image: url('images/rumah-adat1.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
  position: relative;
  transition: background-image 0.5s ease-in-out;
}

.konten-rumah {
  width: 60vw;
  max-width: 1020px;
}

.judul-rumah {
  color: #fff;
  text-align: center;

  font-size: 24px;

  font-weight: 500;
}

.isi-rumah {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 9px;
  font-style: normal;
  font-weight: 500;
}

@media only screen and (min-width: 768px) {
  .rumah-1 {
    width: 160px;
    height: 160px;
    object-fit: cover;
  }
  .rumah-2 {
    width: 160px;
    height: 160px;
    object-fit: cover;
  }
  .rumah-3 {
    width: 160px;
    height: 160px;
    object-fit: cover;
  }
}

@media only screen and (min-width: 993px) {
  .rectangle7 {
    width: 150px;
    height: 38px;
    background-color: whitesmoke;
    border-radius: 34px;
    /* margin-top: 100px; */
  }

  .rumah-judul {
    color: #920d0d;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin: 8px 0px;
  }
  .rumah-1 {
    width: 240px;
    height: 240px;
    object-fit: cover;
  }
  .rumah-2 {
    width: 240px;
    height: 240px;
    object-fit: cover;
  }
  .rumah-3 {
    width: 240px;
    height: 240px;
    object-fit: cover;
  }
  .konten-rumah {
    width: 60vw;
    max-width: 1020px;
  }

  .judul-rumah {
    color: #fff;
    text-align: center;

    font-size: 70px;

    font-weight: 500;
  }

  .isi-rumah {
    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
  }
}

/* __________________________________________________Rumah End__________________________________________________________________ */

.judul-modal {
  color: #920d0d;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}

.isi-modal {
  color: #000;
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.tombol-modal {
  position: fixed;
}
.tombol-modal svg {
  width: 12px;
  height: 12px;
}

@media only screen and (min-width: 993px) {
  .judul-modal {
    color: #920d0d;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px; /* 112.5% */
  }

  .isi-modal {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .tombol-modal svg {
    width: 40px;
    height: 40px;
  }
}

button,
input[type='submit'],
input[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
button {
  border: none;
}

button:focus {
  border: none;
  outline: none;
}

button:focus {
  outline: none !important;
}

/* _________________________________________Legenda____________________________________________________________ */
#legenda {
  width: 100%;
  height: 600px;
}

.legenda-bg {
  height: 500px;
  background-image: url('images/legenda.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
  position: relative;
}
.owl-theme {
  margin-top: 10vh;
}
.pembuka-legenda {
  width: 50vw;
  height: 600px;
  margin-left: 10vw;
}

.pembuka-legenda > h1 {
  margin: 30px 0px;
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}

.pembuka-legenda > p {
  color: #fff;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
}
.item {
  width: 180px;
  height: 320px;
  background-color: rgba(121, 119.24, 119.24, 0.12);
  border-radius: 20px;
  backdrop-filter: blur(17px);
}

.merahmerah {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #920d0d;
  width: 100%;
  height: 19vh;
}

.judul-legenda {
  color: #fff;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
}

.gambar-legenda {
  margin-top: 8px;
}

.isi-legenda {
  color: #fff;
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
}

@media only screen and (min-width: 900px) {
  #legenda {
    width: 100%;
    height: 779px;
  }

  .legenda-bg {
    height: 780px;
    background-image: url('images/legenda.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  .pembuka-legenda {
    width: 40vw;
    height: 600px;
    margin-left: 10vw;
  }

  .pembuka-legenda > h1 {
    margin: 30px 0px;
    color: #fff;
    font-size: 70px;
    font-style: normal;
    font-weight: 500;
  }

  .pembuka-legenda > p {
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
  }
  .item {
    width: 350px;
    height: 600px;
    background-color: rgba(121, 119.24, 119.24, 0.12);
    border-radius: 20px;
    backdrop-filter: blur(17px);
  }

  .merahmerah {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #920d0d;
    width: 100%;
    height: 20vh;
  }

  .judul-legenda {
    color: #fff;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
  }

  .gambar-legenda {
    margin-top: 10px;
  }

  .isi-legenda {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
  }
}

/* _________________________________________Legenda end____________________________________________________________ */

/* ___________Chat bot______________ */

/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  width: 5px;
  background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  width: 1em;
  background-color: #ddd;
  outline: 1px solid slategrey;
  border-radius: 1rem;
}

.text-small {
  font-size: 0.9rem;
}

.messages-box,
.chat-box {
  height: 510px;
  overflow-y: scroll;
}

.rounded-lg {
  border-radius: 0.5rem;
}

input::placeholder {
  font-size: 0.9rem;
  color: #999;
}

/* ___________Chat bot end____________ */

footer {
  background-color: #920d0d;
}
